fastapi
uvicorn[standard]  # Servidor web ASGI para ejecutar FastAPI
pymongo            # Controlador oficial para MongoDB Atlas
pydantic           # Para validación de datos
typing_extensions==4.15.0 # Mantener por compatibilidad con FastAPI/Pydantic
gunicorn==23.0.0
whitenoise==6.6.0